<a href="https://colab.research.google.com/github/davidriveraarbelaez/IA_Explorador/blob/main/AI_Course-Python_Built_in_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Built-In Python Functions

Sometimes we want to solve a problem and end up overwriting code, when most of the tasks can be simplified or summarized in a built-in function of the python standard library.

Let's see a little, the functions that we can use at any time.

__Doc:__ [Built-in Functions](https://docs.python.org/3/library/functions.html)

---
## ABS()

The __abs()__ function is used to return the absolute value of a number.

In [ ]:
number = -54.26
print(f'Absoulute value of {number} is {abs(number)}')

Absoulute value of -54.26 is 54.26

In [ ]:
number = -100
print(f'Absoulute value of {number} is {abs(number)}')

Absoulute value of -100 is 100

## ALL()

The all() function returns True if all elements of an iterable are True; otherwise it returns False.

If the iterable object is empty, the all() function also returns True.

### List

In [ ]:
my_lista = [0, 1, 1]
x = all(my_lista)
print(x)

False

In [ ]:
my_lista = [True, True, True]
x = all(my_lista)
print(x)

True

### Tuple

In [ ]:
my_tuple = (0, True, False)
x = all(my_tuple)
print(x)

False

In [ ]:
my_tuple = (True, True, True)
x = all(my_tuple)
print(x)

True

### Dictionary

In [ ]:
my_dict = {0 : "zero", 2 : "two"}
x = all(my_dict)
print(x)

False

In [ ]:
my_dict = {1 : "one", 2 : "two"}
x = all(my_dict)
print(x)

True

## ANY()

The any() function returns True if any element of an iterable is True; otherwise it returns False.

If the iterable object is empty, the any() function will return False.

### List

In [ ]:
my_list = [False, True, False]
x = any(my_list)
print(x)

True

In [ ]:
my_list = [False, False, False]
x = any(my_list)
print(x)

False

### Tuple

In [ ]:
my_tuple = (0, 1, False)
x = any(my_tuple)
print(x)

True

In [ ]:
my_tuple = (0, 0, False)
x = any(my_tuple)
print(x)

False

### Dictionary

In [ ]:
my_dict = {0, 1, 0}
x = any(my_dict)
print(x)

True

In [ ]:
my_dict = {0, 0, 0}
x = any(my_dict)
print(x)

False

## ASCII()

The ascii() function returns a human-readable version of any object (strings, tuples, lists, etc).

The ascii() function will replace any non-ascii characters with escape characters.

In [ ]:
x = ascii("My name is Ståle")
print(x)

'My name is St\xe5le'

In [ ]:
x = ascii("Horse in chinese is 马")
print(x)

'Horse in chinese is \u9a6c'

In [ ]:
x = "Horse in chinese is 马"
print(x)

Horse in chinese is 马

## BIN()

The bin() function returns the binary version of a given integer. The result will always start with the prefix 0b.

In [ ]:
n = bin(100)
print(n)

0b1100100

In [ ]:
n = bin(200)
print(n)

0b11001000

## BOOL()

The bool() function returns the Boolean value of a specified object.

In [ ]:
x = bool(1)
print(x)

True

In [ ]:
x = bool(0)
print(x)

False

## Bytes

The bytes() function returns a bytes object. You can convert objects to byte objects or create empty byte objects of the specified size.

The difference between bytes() and bytearray() is that bytes() returns an object that cannot be modified, and bytearray() returns an object that can be modified.

How is it used? __bytes(x, encoding, error)__

* __x:__ A source to use when creating the bytes object. If it is an integer, an empty bytes object of the specified size will be created. If it's a string, be sure to specify the source encoding.
* __encoding:__ The encoding of the string.
* __error:__ Specify what to do if encoding fails.

In [ ]:
x = bytes(4)
print(x)

b'\x00\x00\x00\x00'

In [ ]:
x = bytes('Hello my friend', 'UTF-8')
print(x)

b'Hello my friend'

In [ ]:
x = bytes('Hola que tal')
print(x)

TypeError: string argument without an encoding

## CALLABLE()

The callable() function returns True if the specified object is callable; otherwise it returns False.

In [ ]:
def x():
    a = 5

print(callable(x))

True

In [ ]:
x = 5

print(callable(x))

False

## CHR()

The chr() function returns the character that represents the specified unicode.

In [ ]:
x = chr(42)
print(x)

*

In [ ]:
x = chr(94)
print(x)

^

In [ ]:
x = chr(56)
print(x)

8

## COMPILE()

The compile() function returns the specified source as a code object, ready to be executed.

How is it used? __compile(source, filename, mode, flag, dont_inherit, optimize)__

* __source:__ Required. The source to compile can be a String, a Bytes object or an AST object
* __filename:__ Required. The name of the file that the source comes from. If the source doesn't come from a file, you can write whatever you want
* __mode:__ Required. __eval__ if the source is a single expression, __exec__ if the source is a statement block, __single__ if the source is a single interactive statement.
* __flag:__ Optional. How to compile the source. Default 0
* __dont_inherit:__ Optional. How to compile the source. Default False
* __optimize:__ Optional. Defines the optimization level of the compiler. Default -1

In [ ]:
x = compile('print(55)\nprint(88)', 'test', 'exec')
exec(x)

55
88

In [ ]:
x = compile('print(55)', 'test', 'eval')
exec(x)

55

## COMPLEX()

The complex() function returns a complex number by specifying a real number and an imaginary number.

How is it used? __complex(real, imaginary)__

In [ ]:
x = complex('3+5j')
print(x)

(3+5j)

In [ ]:
x = complex(3, 5)
print(x)

(3+5j)

## DELATTR()

The delattr() function will remove the specified attribute from the specified object.

How is it used? __delattr(object, attribute)__

In [ ]:
class Person:
    name = "Antonela"
    age = 28
    country = "Chile"

In [ ]:
print(Person.name)

Antonela

In [ ]:
print(Person.age)

28

In [ ]:
print(Person.country)

Chile

In [1]:
delattr(Person, 'age')

NameError: name 'Person' is not defined

In [ ]:
print(Person.age)

AttributeError: type object 'Person' has no attribute 'age'

In [ ]:
delattr(Person, 'country')

In [ ]:
print(Person.country)

AttributeError: type object 'Person' has no attribute 'country'

## DICT()

The dict() function creates a dictionary. A dictionary is an unordered, modifiable and indexed collection.

In [ ]:
x = dict(name = "Antonela", age = 28, country = "Chile")
x

{'name': 'Antonela', 'age': 28, 'country': 'Chile'}

## DIR()

The dir() function returns all the properties and methods of the specified object, without the values.
This function will return all properties and methods, including built-in properties that are default for all objects.

In [ ]:
class Person:
    name = "Antonela"
    age = 28
    country = "Chile"

print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'name']

## DIVMOD()

The divmod() function returns a tuple containing the quotient and remainder when argument1 (dividend) is divided by argument2 (divisor).

In [ ]:
x = divmod(5, 2)
print(x)

(2, 1)

In [ ]:
x = divmod(8, 3)
print(x)

(2, 2)

## ENUMERATE()

The enumerate() function takes a collection (for example, a tuple) and returns it as an enumerate object.
The enumerate() function adds a counter as the key of the enumerate object.

In [ ]:
x = ('Hi', 'Bye', 'Python', 'Bitcoin')
y = enumerate(x)
print(list(y))

[(0, 'Hi'), (1, 'Bye'), (2, 'Python'), (3, 'Bitcoin')]

## EVAL()

The eval() function evaluates the specified expression, if the expression is a legal Python statement it will be executed.

In [ ]:
x = 'print(55)'
eval(x)

55

## EXEC()

The exec() function executes the specified Python code.
The exec() function accepts large blocks of code, unlike the eval() function which only accepts a single expression

In [ ]:
x = 'sport = "Football"\nprint(sport)'
exec(x)

Football

In [ ]:
x = 'player = "Messi"\nprint(player)'
exec(x)

Messi

## FILTER()

The filter() function returns an iterator where elements are filtered through a function to test whether the element is accepted or not.

How is it used? __filter(function, iterable)__
* __function:__ A function to execute for each element in the iterable
* __iterable:__ The iterable where the filter is to be applied

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
    if x < 18:
        return False
    else:
        return True

adults = filter(myFunc, ages)

for x in adults:
    print(x)

18
24
32

## FLOAT()

The float() function converts the specified value to a float number (with a comma)

In [ ]:
x = float("8.10")
print(x)

8.1

In [ ]:
x = float("20")
print(x)

20.0

## FORMAT()

The format() method formats the specified values and inserts them into the string placeholder.

The placeholder is defined by braces: {}.

The format() method returns the formatted string.

In [ ]:
txt1 = "My name is {fname}, I am {age} years old".format(fname = "Juan", age = 34)
txt2 = "My name is {0}, I am {1} years old".format("Juan",34)
txt3 = "My name is {}, I am {} years old".format("Juan",34)

In [ ]:
print(txt1)

My name is Juan, I am 34 years old

In [ ]:
print(txt2)

My name is Juan, I am 34 years old

In [ ]:
print(txt3)

My name is Juan, I am 34 years old

## FROZENSET()

The frozenset() function returns an immutable frozenset object (which is like a set object, only immutable).

In [ ]:
mylist = ['Python', 'is', 'the', 'best']
x = frozenset(mylist)
print(x)

frozenset({'is', 'Python', 'the', 'best'})

## GETATTR()

The getattr() function returns the value of the specified attribute of the specified object.

In [ ]:
class Person:
    name = "Pedro"
    age = 40
    country = "Argentina"

In [ ]:
x = getattr(Person, 'country', 'Japon')
print(x)

Argentina

## GLOBALS()

The globals() function returns the global symbol table as a dictionary.

In [ ]:
x = globals()
print(x['__doc__'])

Automatically created module for IPython interactive environment

## HELP()

The help() method calls Python's built-in help system.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
from math import *
help('math.pow')

Help on built-in function pow in math:

math.pow = pow(x, y, /)
    Return x**y (x to the power of y).

## HEX()

The hex() function converts the specified number to a hexadecimal value.

In [ ]:
x = hex(12)
print(x)

0xc

In [ ]:
x = hex(0)
print(x)

0x0

In [ ]:
x = hex(255)
print(x)

0xff

## ID()

The id() function returns a unique id for the specified object.
All objects in Python have their own unique ID.
The id is assigned to the object when it is created.

In [ ]:
x = ('Hi', 'Bye', 'one', 'Martin')
y = id(x)
print(y)

1972088039600

In [ ]:
x = ('Hi', 'Bye')
y = id(x)
print(y)

1972088030144

## INPUT()

Allows the user to enter values.

In [ ]:
x = input('Enter your name: ')

Enter your name: Pablo

In [ ]:
print('Hi, ', x, ', how are you?')

Hi,  Pablo , how are you?

## INT()

The int() function converts the specified value to an integer.

In [ ]:
print("int(225.25) is:", int(225.25))

int(225.25) is: 225

## ISINSTANCE()

The isinstance() function returns True if the specified object is of the specified type; otherwise, False.
If the type parameter is a tuple, this function will return True if the object is one of the tuple's types.

In [ ]:
x = isinstance(10, int)
print(x)

True

In [ ]:
x = isinstance('Hi', int)
print(x)

False

In [ ]:
x = isinstance("Hello", (float, int, str, list, dict, tuple))
print(x)

True

In [ ]:
x = isinstance("Hello", (float, int, list, dict, tuple))
print(x)

False

## ITER()

The iter() function returns an iterator object.

In [ ]:
x = iter(["Hola", "Chau", "Jaja", "Mar"])
print(next(x))
print(next(x))
print(next(x))
print(next(x))

Hola
Chau
Jaja
Mar

## LEN()

The len() function returns the number of elements in an object.

In [ ]:
my_text = 'How are you?'
len(my_text)

12

In [ ]:
my_list = ['Hola', 'Chau', 'Jaja', 'Mar']
len(my_list)

4

## LIST()

A list is an ordered and modifiable collection. In Python, lists are enclosed in square brackets.

In [ ]:
my_list = ['Hola', 'Chau', 'Jaja', 'Mar']
print(my_list)

['Hola', 'Chau', 'Jaja', 'Mar']

## LOCALS()

The locals() function returns the local symbol table as a dictionary.
A symbol table contains necessary information about this notebook.

In [ ]:
x = locals()
print(x['__doc__'])

Automatically created module for IPython interactive environment

## MAP()

The map() function executes a specific function for each element in an iterable. The item is sent to the function as a parameter.

In [ ]:
def myfunc(a, b):
    return a + b

x = map(myfunc, ('Hola', 'Chau', 'Jaja'), ('Mar', 'Tierra', 'Jojo'))

print(list(x))

['HolaMar', 'ChauTierra', 'JajaJojo']

## MAX()

The max() method returns the maximum value of a sequence of parameters.

In [ ]:
max(80, 100, 1000)

1000

In [ ]:
max(500, 600, 700, 600, 500)

700

## MIN()

The min() method returns the minimum value of a sequence of parameters.

In [ ]:
min(80, 100, 1000)

80

In [ ]:
min(10, 100, 1, -1, 1000)

-1

## NEXT()

The next() function returns the next element in an iterator.
A default return value can be added, to return if the iterable has completed.
How is it used?
next(iterable, default)
iterable: Required. An iterable object.
default: Optional. A default value to return if the iterable has timed out.

In [ ]:
mylist = iter(["One", "Two", "Three"])
x = next(mylist, "Default value")
print(x)
x = next(mylist, "Default value")
print(x)
x = next(mylist, "Default value")
print(x)
x = next(mylist, "Default value")
print(x)

One
Two
Three
Default value

## OBJECT()

The object() function returns an empty object.

In [ ]:
x = object()
print(x)

<object object at 0x000001CB280B9CE0>

## OCT()

The oct() function converts an integer to an octal string.
Octal strings in Python are prefixed with 0o.

In [ ]:
x = oct(12)
print(x)

0o14

In [ ]:
x = oct(40)
print(x)

0o50

## ORD()

The ord() function returns the number that represents the Unicode code of a specified character.

In [ ]:
x = ord("l")
print(x)

108

In [ ]:
x = ord("*")
print(x)

42

## POW()

The pow() function returns the value of x to the power of y (xy).
If a third parameter is present, it returns x to the power of y, modulo z.

In [ ]:
x = pow(4, 3)
print(x)

64.0

## PRINT()

The print() function prints the specified message to the screen or other standard output device.
The message can be a string, or any other object, the object will be converted to a string before being written to the screen.

In [ ]:
print("Hello World")

Hello World

## RANGE()

The range() function returns a sequence of numbers, starting from 0 by default, incrementing by 1 (default), and stopping before a specified number.

In [ ]:
x = range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [ ]:
x = range(3, 6)
for n in x:
    print(n)

3
4
5

In [ ]:
x = range(3, 20, 2)
for n in x:
    print(n)

3
5
7
9
11
13
15
17
19

## REVERSED()

The reversed() function returns a reversed iterator object.

In [ ]:
ny_numbers = [1, 2, 3, 4]
ny_numbers_reversed = reversed(ny_numbers)
for x in ny_numbers_reversed:
    print(x)

4
3
2
1

## ROUND()

The round() function is used to round decimals.

In [ ]:
x = round(3.14159265358979323846264338327950288419716939937510582097494459230781640628620, 2)
print(x)

3.14

In [ ]:
x = round(3.14159265358979323846264338327950288419716939937510582097494459230781640628620, 10)
print(x)

3.1415926536

In [ ]:
x = round(3.14159265358979323846264338327950288419716939937510582097494459230781640628620)
print(x)

3

## SET()

A Set() is a set that is neither ordered nor indexed. In Python, sets are enclosed in braces.

In [ ]:
greeting = {"Hi", "Bye"}

for x in greeting:
    print(x)

Bye
Hi

## SLICE()

The slice() function returns a slice object.
A slice object is used to specify how to slice a stream. You can specify where to start the cut and where to end.

In [ ]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(5)
print(a[x])

('a', 'b', 'c', 'd', 'e')

In [ ]:
x = slice(3,8)
print(a[x])

('d', 'e', 'f', 'g', 'h')

## SORTED()

The sort() method sorts the list ascending by default.
You can also perform a function to decide the sorting criteria.

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

## STR()

The str() function converts the specified value to a string.

In [ ]:
x = str(3.5)
print(x)
type(x)

3.5

str

## SUM()

The sum() function returns a number, the sum of all elements in an iterable.

In [ ]:
a = (1, 2, 3, 4, 5)
x = sum(a)
print(x)

15

## TUPLE()

A tuple is an ordered and immutable collection. In Python, tuples are enclosed in square brackets.

In [ ]:
greeting = ("Hola", "Chau", "Buenas noches")
print(greeting)
type(greeting)

('Hola', 'Chau', 'Buenas noches')

tuple

## TYPE()

The type() function returns the type of the object or returns a new type object based on the passed arguments.

In [ ]:
numbers_list = [1, 2]
print(type(numbers_list))

numbers_dict = {1: 'one', 2: 'two'}
print(type(numbers_dict))

class Foo:
    a = 0

foo = Foo()
print(type(foo))

<class 'list'>
<class 'dict'>
<class '__main__.Foo'>

## VARS()

The vars() function returns the dic attribute of an object.
The dict attribute is a dictionary containing the modifiable attributes of the object.

In [ ]:
class Person:
    name = "Juan"
    age = 21
    country = "England"

x = vars(Person)
print(x)

{'__module__': '__main__', 'name': 'Juan', 'age': 21, 'country': 'England', '__dict__': <attribute '__dict__' of 'Person' objects>, '__weakref__': <attribute '__weakref__' of 'Person' objects>, '__doc__': None}

## ZIP()

The zip() function returns a zip object, which is an iterator of tuples where the first element in each passed iterator is matched, and then the second element in each passed iterator is matched, etc.
If the passed iterators have different lengths, the iterator with the fewest elements decides the length of the new iterator.

In [ ]:
a = ("Juan", "Carlos", "Miguel")
b = ("Jesica", "Cristina", "Monica")

x = zip(a, b)
print(tuple(x))

(('Juan', 'Jesica'), ('Carlos', 'Cristina'), ('Miguel', 'Monica'))

## __IMPORT__()

__Import__() is a function that is called by the import statement.
How to use: __import(name, globals=None, locals=None, fromlist=(), level=0)__

* __name:__ the name of the module you want to import
* __global and local:__ determines how to interpret the name
* __fromlist:__ objects or submodules to be imported by name
* __level:__ specifies whether absolute or relative imports are used

In [ ]:
mathematics = __import__('math', globals(), locals(), [], 0)
print(mathematics.fabs(-2.5))

2.5