### 1. Introducción al Aprendizaje Automático y Dataset de películas

In [6]:
# Cargar y explorar el dataset, así como describir las variables relevantes

import pandas as pd

# Cargar el dataset
data = pd.read_csv('../Datasets/movie_metadata_cleaned.csv')

# Mostrar las primeras filas
data.head()

# Descripción general de las variables
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3952 entries, 0 to 3951
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   num_critic_for_reviews   3952 non-null   float64
 1   duration                 3952 non-null   float64
 2   director_facebook_likes  3952 non-null   float64
 3   actor_3_facebook_likes   3952 non-null   float64
 4   actor_1_facebook_likes   3952 non-null   float64
 5   gross                    3952 non-null   float64
 6   num_user_for_reviews     3952 non-null   float64
 7   budget                   3952 non-null   float64
 8   title_year               3952 non-null   float64
 9   actor_2_facebook_likes   3952 non-null   float64
 10  imdb_score               3952 non-null   float64
 11  aspect_ratio             3952 non-null   float64
 12  movie_facebook_likes     3952 non-null   float64
dtypes: float64(13)
memory usage: 401.5 KB

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3.952000e+03,3952.000000,3.952000e+03,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000
mean,160.851721,109.765182,769.943067,719.721154,7404.627530,4.905082e+07,315.871964,4.284541e+07,2003.133856,1890.622470,6.472267,2.105099,8788.869180
std,121.168801,22.468246,3000.203497,1785.341391,15226.510851,6.789545e+07,398.302403,2.204447e+08,9.907701,4382.195816,1.049593,0.351002,20983.065786
min,1.000000,37.000000,0.000000,0.000000,0.000000,1.620000e+02,1.000000,0.000000e+00,1920.000000,0.000000,1.600000,1.180000,0.000000
25%,73.000000,95.000000,10.000000,177.000000,718.000000,6.047046e+06,99.000000,8.000000e+06,1999.000000,357.000000,5.900000,1.850000,0.000000
50%,132.000000,105.000000,58.000000,422.000000,1000.000000,2.633662e+07,194.000000,2.200000e+07,2005.000000,655.000000,6.600000,2.350000,182.500000
75%,217.000000,120.000000,221.000000,678.000000,12000.000000,6.340933e+07,376.000000,5.000000e+07,2010.000000,963.000000,7.200000,2.350000,10000.000000
max,813.000000,330.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,5060.000000,1.221550e+10,2016.000000,137000.000000,9.300000,16.000000,349000.000000

In [7]:
# Cargar y explorar el dataset, así como describir las variables relevantes

import pandas as pd

# Cargar el dataset
data = pd.read_csv('../Datasets/movie_metadata_cleaned_2.csv')

# Mostrar las primeras filas
data.head()

# Descripción general de las variables
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   num_critic_for_reviews     3998 non-null   float64
 1   duration                   3998 non-null   float64
 2   director_facebook_likes    3998 non-null   float64
 3   actor_3_facebook_likes     3998 non-null   float64
 4   actor_1_facebook_likes     3998 non-null   float64
 5   gross                      3998 non-null   float64
 6   num_user_for_reviews       3998 non-null   float64
 7   budget                     3998 non-null   float64
 8   title_year                 3998 non-null   float64
 9   actor_2_facebook_likes     3998 non-null   float64
 10  imdb_score                 3998 non-null   float64
 11  aspect_ratio               3998 non-null   float64
 12  movie_facebook_likes       3998 non-null   float64
 13  num_voted_users            3998 non-null   float64
 14  cast_total_facebook_likes  3998 non-null   float64
 15  facenumber_in_poster       3998 non-null   float64
dtypes: float64(16)
memory usage: 499.9 KB

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,num_voted_users,cast_total_facebook_likes,facenumber_in_poster
count,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3.998000e+03,3998.000000,3.998000e+03,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3.998000e+03,3998.000000,3998.000000
mean,162.389695,109.811906,770.635318,731.415458,7466.474987,4.959976e+07,319.875938,4.320772e+07,2003.147824,1919.770135,6.474487,2.106166,8864.156078,9.991096e+04,11064.747374,1.370685
std,121.926222,22.416836,2996.510528,1809.027210,15207.067792,6.842013e+07,402.073583,2.193150e+08,9.927226,4408.774718,1.047223,0.349988,20874.194465,1.479299e+05,18673.807484,2.040535
min,1.000000,37.000000,0.000000,0.000000,0.000000,1.620000e+02,1.000000,0.000000e+00,1920.000000,0.000000,1.600000,1.180000,0.000000,5.000000e+00,0.000000,0.000000
25%,74.000000,95.000000,10.000000,178.250000,722.000000,6.169234e+06,100.000000,8.000000e+06,1999.000000,359.000000,5.900000,1.850000,0.000000,1.676875e+04,1795.000000,0.000000
50%,133.000000,106.000000,58.000000,423.000000,1000.000000,2.658666e+07,197.000000,2.200000e+07,2005.000000,658.500000,6.600000,2.350000,192.000000,4.900300e+04,3844.000000,1.000000
75%,219.000000,120.000000,226.000000,680.000000,12000.000000,6.393224e+07,380.000000,5.000000e+07,2010.000000,967.000000,7.200000,2.350000,10750.000000,1.188842e+05,15783.750000,2.000000
max,813.000000,330.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,5060.000000,1.221550e+10,2016.000000,137000.000000,9.300000,16.000000,349000.000000,1.689764e+06,656730.000000,43.000000

### 2. **Regresión Lineal para la Predicción de Ingresos Brutos**
   #### 2.1 Selección de variables y análisis preliminar
   - Identifica las variables independientes más importantes que podrían influir en los ingresos brutos (variable dependiente). Justifica tu elección con análisis de correlación y gráficos de dispersión.

In [8]:
# Selección de variables y análisis preliminar

import seaborn as sns
import matplotlib.pyplot as plt

# Correlación con 'gross'
correlation_matrix = data.corr()
gross_correlation = correlation_matrix['gross'].sort_values(ascending=False)
print(gross_correlation)

gross                        1.000000
num_voted_users              0.629723
num_user_for_reviews         0.554341
num_critic_for_reviews       0.467210
movie_facebook_likes         0.361870
actor_3_facebook_likes       0.287553
actor_2_facebook_likes       0.251053
duration                     0.245321
cast_total_facebook_likes    0.236081
imdb_score                   0.199684
actor_1_facebook_likes       0.149761
director_facebook_likes      0.143403
budget                       0.104417
aspect_ratio                 0.069534
title_year                   0.036445
facenumber_in_poster        -0.031322
Name: gross, dtype: float64