<a href="https://colab.research.google.com/github/davidriveraarbelaez/IA_Explorador/blob/main/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Cargar el dataset original
file_path = '../Datasets/movie_metadata.csv'
df = pd.read_csv(file_path)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     5043 non-null   object
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB

In [6]:
# Usar análisis de correlación y gráficos completos para identificar las variables predictoras relevantes.

# Calcular la matriz de correlación
correlation_matrix = df.corr()

# Filtrar las correlaciones con respecto a la variable 'gross'
gross_correlation = correlation_matrix['gross'].sort_values(ascending=False)

# Mostrar las correlaciones
print(gross_correlation)

gross                      1.000000
num_user_for_reviews       0.553019
num_critic_for_reviews     0.462919
movie_facebook_likes       0.363006
actor_3_facebook_likes     0.282837
duration                   0.245669
actor_2_facebook_likes     0.243022
imdb_score                 0.202076
actor_1_facebook_likes     0.145977
director_facebook_likes    0.139531
budget                     0.100908
aspect_ratio               0.069021
title_year                 0.031327
Name: gross, dtype: float64

In [9]:
# Selección de columnas numéricas relevantes, tener en cuenta el análisis de correlación de la celda previa
numeric_columns = [
    'num_critic_for_reviews', 'duration', 'director_facebook_likes',
    'actor_3_facebook_likes', 'actor_1_facebook_likes', 'gross',
    'num_user_for_reviews', 'budget', 'title_year', 'actor_2_facebook_likes',
    'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'num_voted_users',
    'cast_total_facebook_likes', 'facenumber_in_poster' 
]

In [10]:
# Filtrar el DataFrame para columnas numéricas seleccionadas
# Eliminar símbolos como $ en 'budget' y convertir a float
df_numeric = df[numeric_columns].replace('[\$,]', '', regex=True).astype(float)
df_numeric

<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:3: SyntaxWarning: invalid escape sequence '\$'
C:\Users\david\AppData\Local\Temp\ipykernel_9232\3744073513.py:3: SyntaxWarning: invalid escape sequence '\$'
  df_numeric = df[numeric_columns].replace('[\$,]', '', regex=True).astype(float)

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,num_voted_users,cast_total_facebook_likes,facenumber_in_poster
0,723.0,178.0,0.0,855.0,1000.0,760505847.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78,33000.0,886204.0,4834.0,0.0
1,302.0,169.0,563.0,1000.0,40000.0,309404152.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35,0.0,471220.0,48350.0,0.0
2,602.0,148.0,0.0,161.0,11000.0,200074175.0,994.0,245000000.0,2015.0,393.0,6.8,2.35,85000.0,275868.0,11700.0,1.0
3,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35,164000.0,1144337.0,106759.0,0.0
4,NaN,NaN,131.0,NaN,131.0,NaN,NaN,0.0,NaN,12.0,7.1,NaN,0.0,8.0,143.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,1.0,87.0,2.0,318.0,637.0,NaN,6.0,0.0,2013.0,470.0,7.7,NaN,84.0,629.0,2283.0,2.0
5039,43.0,43.0,NaN,319.0,841.0,NaN,359.0,0.0,NaN,593.0,7.5,16.00,32000.0,73839.0,1753.0,1.0
5040,13.0,76.0,0.0,0.0,0.0,NaN,3.0,1400.0,2013.0,0.0,6.3,NaN,16.0,38.0,0.0,0.0
5041,14.0,100.0,0.0,489.0,946.0,10443.0,9.0,0.0,2012.0,719.0,6.3,2.35,660.0,1255.0,2386.0,5.0
5042,43.0,90.0,16.0,16.0,86.0,85222.0,84.0,1100.0,2004.0,23.0,6.6,1.85,456.0,4285.0,163.0,0.0

In [11]:
# Eliminar filas con valores nulos
df_numeric = df_numeric.dropna()
df_numeric

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,num_voted_users,cast_total_facebook_likes,facenumber_in_poster
0,723.0,178.0,0.0,855.0,1000.0,760505847.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78,33000.0,886204.0,4834.0,0.0
1,302.0,169.0,563.0,1000.0,40000.0,309404152.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35,0.0,471220.0,48350.0,0.0
2,602.0,148.0,0.0,161.0,11000.0,200074175.0,994.0,245000000.0,2015.0,393.0,6.8,2.35,85000.0,275868.0,11700.0,1.0
3,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35,164000.0,1144337.0,106759.0,0.0
5,462.0,132.0,475.0,530.0,640.0,73058679.0,738.0,263700000.0,2012.0,632.0,6.6,2.35,24000.0,212204.0,1873.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5029,78.0,111.0,62.0,6.0,89.0,94596.0,50.0,1000000.0,1997.0,13.0,7.4,1.85,817.0,6318.0,115.0,0.0
5033,143.0,77.0,291.0,8.0,291.0,424760.0,371.0,7000.0,2004.0,45.0,7.0,1.85,19000.0,72639.0,368.0,0.0
5035,56.0,81.0,0.0,6.0,121.0,2040920.0,130.0,7000.0,1992.0,20.0,6.9,1.37,0.0,52055.0,147.0,0.0
5041,14.0,100.0,0.0,489.0,946.0,10443.0,9.0,0.0,2012.0,719.0,6.3,2.35,660.0,1255.0,2386.0,5.0
5042,43.0,90.0,16.0,16.0,86.0,85222.0,84.0,1100.0,2004.0,23.0,6.6,1.85,456.0,4285.0,163.0,0.0

In [12]:
# Eliminar filas duplicadas
df_numeric = df_numeric.drop_duplicates()
df_numeric

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,num_voted_users,cast_total_facebook_likes,facenumber_in_poster
0,723.0,178.0,0.0,855.0,1000.0,760505847.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78,33000.0,886204.0,4834.0,0.0
1,302.0,169.0,563.0,1000.0,40000.0,309404152.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35,0.0,471220.0,48350.0,0.0
2,602.0,148.0,0.0,161.0,11000.0,200074175.0,994.0,245000000.0,2015.0,393.0,6.8,2.35,85000.0,275868.0,11700.0,1.0
3,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35,164000.0,1144337.0,106759.0,0.0
5,462.0,132.0,475.0,530.0,640.0,73058679.0,738.0,263700000.0,2012.0,632.0,6.6,2.35,24000.0,212204.0,1873.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5029,78.0,111.0,62.0,6.0,89.0,94596.0,50.0,1000000.0,1997.0,13.0,7.4,1.85,817.0,6318.0,115.0,0.0
5033,143.0,77.0,291.0,8.0,291.0,424760.0,371.0,7000.0,2004.0,45.0,7.0,1.85,19000.0,72639.0,368.0,0.0
5035,56.0,81.0,0.0,6.0,121.0,2040920.0,130.0,7000.0,1992.0,20.0,6.9,1.37,0.0,52055.0,147.0,0.0
5041,14.0,100.0,0.0,489.0,946.0,10443.0,9.0,0.0,2012.0,719.0,6.3,2.35,660.0,1255.0,2386.0,5.0
5042,43.0,90.0,16.0,16.0,86.0,85222.0,84.0,1100.0,2004.0,23.0,6.6,1.85,456.0,4285.0,163.0,0.0

In [ ]:
# Estandarizar los datos
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_numeric)
scaled_data

array([[ 4.63996847,  3.03732883, -0.25666276, ...,  1.36044503,
        -0.92631875,  1.15398745],
       [ 1.16503704,  2.63671284, -0.06898507, ...,  0.59814831,
         0.69780867, -0.41890834],
       [ 3.64123521,  1.70194218, -0.25666276, ...,  0.31228704,
         0.69780867,  3.63248991],
       ...,
       [-0.86544546, -1.28042135, -0.25666276, ...,  0.40757413,
        -2.09455076, -0.41890834],
       [-1.21211321, -0.43467647, -0.25666276, ..., -0.16414841,
         0.69780867, -0.38745043],
       [-0.97274738, -0.87980535, -0.25132911, ...,  0.12171286,
        -0.72686451, -0.39717378]])

In [13]:
df_numeric.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3998 entries, 0 to 5042
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   num_critic_for_reviews     3998 non-null   float64
 1   duration                   3998 non-null   float64
 2   director_facebook_likes    3998 non-null   float64
 3   actor_3_facebook_likes     3998 non-null   float64
 4   actor_1_facebook_likes     3998 non-null   float64
 5   gross                      3998 non-null   float64
 6   num_user_for_reviews       3998 non-null   float64
 7   budget                     3998 non-null   float64
 8   title_year                 3998 non-null   float64
 9   actor_2_facebook_likes     3998 non-null   float64
 10  imdb_score                 3998 non-null   float64
 11  aspect_ratio               3998 non-null   float64
 12  movie_facebook_likes       3998 non-null   float64
 13  num_voted_users            3998 non-null   float64
 14  cast_total_facebook_likes  3998 non-null   float64
 15  facenumber_in_poster       3998 non-null   float64
dtypes: float64(16)
memory usage: 531.0 KB

In [ ]:
# Descargar el dataset limpio generado

df_numeric.to_csv('movie_metadata_cleaned_2.csv', index=False)

In [15]:
# Cargar el dataset limpio

df_cleaned = pd.read_csv('../Datasets/movie_metadata_cleaned_2.csv')
df_cleaned

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,num_voted_users,cast_total_facebook_likes,facenumber_in_poster
0,723.0,178.0,0.0,855.0,1000.0,760505847.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78,33000.0,886204.0,4834.0,0.0
1,302.0,169.0,563.0,1000.0,40000.0,309404152.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35,0.0,471220.0,48350.0,0.0
2,602.0,148.0,0.0,161.0,11000.0,200074175.0,994.0,245000000.0,2015.0,393.0,6.8,2.35,85000.0,275868.0,11700.0,1.0
3,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35,164000.0,1144337.0,106759.0,0.0
4,462.0,132.0,475.0,530.0,640.0,73058679.0,738.0,263700000.0,2012.0,632.0,6.6,2.35,24000.0,212204.0,1873.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3993,78.0,111.0,62.0,6.0,89.0,94596.0,50.0,1000000.0,1997.0,13.0,7.4,1.85,817.0,6318.0,115.0,0.0
3994,143.0,77.0,291.0,8.0,291.0,424760.0,371.0,7000.0,2004.0,45.0,7.0,1.85,19000.0,72639.0,368.0,0.0
3995,56.0,81.0,0.0,6.0,121.0,2040920.0,130.0,7000.0,1992.0,20.0,6.9,1.37,0.0,52055.0,147.0,0.0
3996,14.0,100.0,0.0,489.0,946.0,10443.0,9.0,0.0,2012.0,719.0,6.3,2.35,660.0,1255.0,2386.0,5.0
3997,43.0,90.0,16.0,16.0,86.0,85222.0,84.0,1100.0,2004.0,23.0,6.6,1.85,456.0,4285.0,163.0,0.0