In [61]:
# Cargar el dataset movies_metadata.csv y mostrar las columnas que contiene.
import pandas as pd # Importamos la librería pandas
df = pd.read_csv('../Datasets/movie_metadata.csv') # Cargamos el dataset movies_metadata.csv

# Mostrar las primeras filas
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0

In [62]:
# Información del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     5043 non-null   object
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB

In [63]:
df['budget'].head(10)

0    237000000.0$
1    300000000.0$
2    245000000.0$
3    250000000.0$
4            0.0$
5    263700000.0$
6    258000000.0$
7    260000000.0$
8    250000000.0$
9    250000000.0$
Name: budget, dtype: object

In [52]:
print(df.columns) # Mostramos las columnas que contiene el dataset

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [53]:
# Identificar las columnas que contienen valores nulos
print(df.isnull().any()) # Mostramos las columnas que contienen valores nulos

color                         True
director_name                 True
num_critic_for_reviews        True
duration                      True
director_facebook_likes       True
actor_3_facebook_likes        True
actor_2_name                  True
actor_1_facebook_likes        True
gross                         True
genres                       False
actor_1_name                  True
movie_title                  False
num_voted_users              False
cast_total_facebook_likes    False
actor_3_name                  True
facenumber_in_poster          True
plot_keywords                 True
movie_imdb_link              False
num_user_for_reviews          True
language                      True
country                       True
content_rating                True
budget                       False
title_year                    True
actor_2_facebook_likes        True
imdb_score                   False
aspect_ratio                  True
movie_facebook_likes         False
dtype: bool

In [54]:
# Identificar la cantidad de valores nulos en cada columna
# Identificar valores nulos por columna
nulos_por_columna = df.isnull().sum()
print(nulos_por_columna)

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                         0
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [64]:
# 3. Limpieza de columnas mal formateadas (budget):
# Convertir la columna budget a numérica
# Eliminar el símbolo de dólar en la columna 'budget' y convertir a numérico
df['budget'] = pd.to_numeric(df['budget'].str.replace(r'\$', '', regex=True), errors='coerce')
df['budget'].head(10)

0    237000000.0
1    300000000.0
2    245000000.0
3    250000000.0
4            0.0
5    263700000.0
6    258000000.0
7    260000000.0
8    250000000.0
9    250000000.0
Name: budget, dtype: float64

In [69]:
# Muéstrame las primeras filas de la columna budget
df['budget'].head()

0    237000000.0
1    300000000.0
2    245000000.0
3    250000000.0
4            0.0
Name: budget, dtype: float64

In [70]:
# 4. Eliminación de duplicados

# Verificar duplicados
duplicados_antes = df.duplicated().sum()

# Eliminar duplicados
df_limpia = df.drop_duplicates()

# Verificar nuevamente duplicados
duplicados_despues = df_limpia.duplicated().sum()

print(f"Duplicados antes: {duplicados_antes}, Duplicados después: {duplicados_despues}")

Duplicados antes: 45, Duplicados después: 0

In [71]:
# Revisamos la cantidad de filas y columnas del dataset
print(df_limpia.shape)

(4998, 28)

In [73]:
# 5. Manejo de valores nulos:
# Eliminar filas con valores nulos en columnas críticas (director_name, gross):

# Eliminar filas con valores nulos en las columnas 'director_name' y 'gross'
df_limpia = df_limpia.dropna(subset=['director_name', 'gross'])
df_limpia.shape # Revisamos la cantidad de filas y columnas del dataset

(4121, 28)

In [79]:
# 5 
# Rellenar valores nulos con la mediana o el valor más común (aspect_ratio, content_rating):

# Rellenar valores nulos en 'aspect_ratio' con la mediana
df_limpia['aspect_ratio'].fillna(df_limpia['aspect_ratio'].median(), inplace=True)

# Rellenar valores nulos en 'content_rating' con el valor más común
df_limpia['content_rating'].fillna(df_limpia['content_rating'].mode()[0], inplace=True)

# Verificar si hay valores nulos
df_limpia.isnull().any()

C:\Users\david\AppData\Local\Temp\ipykernel_12660\2267025913.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_limpia['aspect_ratio'].fillna(df_limpia['aspect_ratio'].median(), inplace=True)

color                         True
director_name                False
num_critic_for_reviews        True
duration                      True
director_facebook_likes      False
actor_3_facebook_likes        True
actor_2_name                  True
actor_1_facebook_likes        True
gross                        False
genres                       False
actor_1_name                  True
movie_title                  False
num_voted_users              False
cast_total_facebook_likes    False
actor_3_name                  True
facenumber_in_poster          True
plot_keywords                 True
movie_imdb_link              False
num_user_for_reviews          True
language                      True
country                      False
content_rating               False
budget                       False
title_year                   False
actor_2_facebook_likes        True
imdb_score                   False
aspect_ratio                 False
movie_facebook_likes         False
dtype: bool

In [76]:
df_limpia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4121 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4119 non-null   object
 1   director_name              4121 non-null   object
 2   num_critic_for_reviews     4118 non-null   float64
 3   duration                   4119 non-null   float64
 4   director_facebook_likes    4121 non-null   float64
 5   actor_3_facebook_likes     4108 non-null   float64
 6   actor_2_name               4115 non-null   object
 7   actor_1_facebook_likes     4117 non-null   float64
 8   gross                      4121 non-null   float64
 9   genres                     4121 non-null   object
 10  actor_1_name               4117 non-null   object
 11  movie_title                4121 non-null   object
 12  num_voted_users            4121 non-null   int64
 13  cast_total_facebook_likes  4121 non-null   int64
 14  actor_3_name               4108 non-null   object
 15  facenumber_in_poster       4114 non-null   float64
 16  plot_keywords              4081 non-null   object
 17  movie_imdb_link            4121 non-null   object
 18  num_user_for_reviews       4120 non-null   float64
 19  language                   4117 non-null   object
 20  country                    4121 non-null   object
 21  content_rating             4121 non-null   object
 22  budget                     4121 non-null   float64
 23  title_year                 4121 non-null   float64
 24  actor_2_facebook_likes     4115 non-null   float64
 25  imdb_score                 4121 non-null   float64
 26  aspect_ratio               4121 non-null   float64
 27  movie_facebook_likes       4121 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 933.7+ KB

In [ ]:
#